<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Captcha Challenge</h1>
      <p class="has-text-centered" style="padding: 2px;font-size: 50px;">
        <span [ngClass]="checkCharacter(letter,enteredNumber[i])"
          *ngFor="let letter of sentence.split('');let i = index;">
          <i> {{letter}} </i>
        </span>
      </p>
      <div class="field">
        <input class="input" [maxLength]="length" (input)="onEnterValue($event.target)" type="text"
          style="width: 100%;" />
      </div>

      <div *ngIf="sentence===enteredNumber" class="box has-text-centered">
        <p>GREAT!!</p>
      </div>
    </div>

  </div>
</div>
